<div class="text-center col-md-12 well">
    <p>
      <strong>Cargo:</strong><br>
      <%= @job.job_name %>
    </p>
</div>

<div class="row text-center">
<% if logged_in? && current_user.admin?%>
    <%= link_to 'Editar', edit_job_path(@job), class:'btn btn-default' %>
<% end %>

<%= link_to 'Voltar', jobs_path, class:'btn btn-default' %>
</div>