<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <%= link_to 'SCP', members_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Reuniões', meetings_path %></li>
          <li><%= link_to 'Membros', members_path %></li>
        </ul>
    </div>
</div>